<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <title>Home</title>
</head>

<body>
    <!-- Barra de Menu -->
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Chef do Zero</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <a class="nav-link" href="../Cursos/cursos.html">Cursos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contato</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Carrossel -->
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../../img/basico.jpg" class="d-block w-100 custom-img" alt="Descrição do Slide 1">
                <div class="carousel-caption d-none d-md-block">
                    <a href="../Cursos/cursos.html" class="btn btn-primary">Básico</a>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../img/intermediario.jpg" class="d-block w-100 custom-img" alt="Descrição do Slide 2">
                <div class="carousel-caption d-none d-md-block">
                    <a href="../Cursos/cursos.html" class="btn btn-primary">Intermediário</a>
                </div>
            </div>
            <div class="carousel-item">
                <img src="../../img/Avançada.jpg" class="d-block w-100 custom-img" alt="Descrição do Slide 3">
                <div class="carousel-caption d-none d-md-block">
                    <a href="../Cursos/cursos.html" class="btn btn-primary">Avançado</a>
                </div>
            </div>
        </div>

        <!-- Indicadores do Carrossel -->
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Próximo</span>
        </button>
    </div>

    <!-- Seções abaixo do carrossel -->
    <main class="container mt-4">
        <h2 class="text-center">Você Aprenderá</h2>

        <h2 class="mt-4">Básico</h2>
        <p>O módulo básico de nosso curso de culinária é perfeito para quem está começando e deseja aprender o essencial
            da cozinha. Você aprenderá a dominar técnicas fundamentais como cortes, temperos simples, preparo de arroz,
            massas e saladas. Este módulo também aborda o uso correto de utensílios e equipamentos de cozinha, além de
            ensinar receitas simples, como omeletes, sopas, e sobremesas clássicas.</p>

        <h2 class="mt-4">Intermediário</h2>
        <p>No módulo intermediário, você desenvolverá suas habilidades culinárias, aprendendo técnicas mais avançadas,
            como molhos especiais, carnes e pratos internacionais. Este nível foca no equilíbrio de sabores, texturas e
            apresentações. Receitas como risotos, pratos à base de peixes e frutos do mar, além de sobremesas
            elaboradas, serão ensinadas. Ideal para quem já possui conhecimento básico e deseja expandir seu repertório
            culinário.</p>

        <h2 class="mt-4">Avançado</h2>
        <p>O módulo avançado é destinado a aqueles que desejam se tornar verdadeiros chefs. Aqui, você aprenderá
            técnicas de alta gastronomia, como o uso de ingredientes sofisticados, preparo de pratos complexos, e
            aprimoramento da apresentação de alimentos. Serão abordados temas como cozinha molecular, fermentação,
            confeitaria profissional, e harmonização de pratos com vinhos e outras bebidas. Este módulo é perfeito para
            quem quer elevar suas habilidades culinárias ao nível profissional.</p>
    </main>

    <footer class="text-center mt-4">
        <p>&copy; 2024 Meu Site. Todos os direitos reservados.</p>
    </footer>

    <script src="/bootstrap/js/bootstrap.bundle.js"></script>
</body>

</html>